.header{
    grid-area: h;
    background-color: #36e25d;
}
.header img{
    width: 60px;
    height: 50px;
}

.loginBlock{
    float: right;
    padding: 10px;
}

.loginBlock a{
    color: white;
    text-decoration: none;
    transition: all .5s;
}

.loginBlock a:hover{
    color: #e5ff42;
}