.nav{
    grid-area: n;
    background-color: burlywood;
}
.nav ul{
    list-style: none;
}


.link{
    color: white;
    text-decoration: none;

}
.active{
    color: gold;
    text-decoration: none;
}