.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog{

}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active{
    color: gold;
}

.messages{
    padding: 10px;
}

.messages .message{

}